.header{
   background-color: var(--Background);
   position: fixed;
   height: 70px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   box-shadow: 1px 1px 5px var(--Input);
   color: var(--Text);
   z-index: 1;
}
.left-side{
    width: 30%;
    display: flex;
    justify-content: end;
}
.right-side{
    width: 20%;
}
.header h1{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 800;
}
.icon{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.icon span{
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 600;
}
.toogle{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer
}


/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 300px) and (max-width: 767px) {
    .header{
        background-color: var(--Background);
        position: fixed;
        height: 90px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 5px var(--Input);
        color: var(--Text);
        z-index: 1;
        padding: 0 10px;
     }
     .left-side{
         width: 50%;
         display: flex;
         justify-content: space-evenly;
     }
     .right-side{
         width: 30%;
     }
     .header h1{
         font-family: var(--font);
         font-size: 1rem;
         font-weight: 800;
     }
     .icon{
         display: flex;
         align-items: center;
         gap: 10px;
         cursor: pointer;
     }
     
     .icon span{
         font-size: 1rem;
         font-family: var(--font);
         font-weight: 600;
     }
     .toogle{
         display: flex;
         align-items: center;
         gap: 5px;
         cursor: pointer
     }
   
   }
   
   /* Media Query for Tablets Ipads portrait mode */
   @media (min-width: 768px) and (max-width: 1024px){
    .header{
        background-color: var(--Background);
        position: fixed;
        height: 90px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px 1px 5px var(--Input);
        color: var(--Text);
        z-index: 1;
        padding: 0 10px;
     }
     .left-side{
         width: 40%;
         display: flex;
         justify-content: space-evenly;
     }
     .right-side{
         width: 20%;
     }
     .header h1{
         font-family: var(--font);
         font-size: 1rem;
         font-weight: 800;
     }
     .icon{
         display: flex;
         align-items: center;
         gap: 10px;
         cursor: pointer;
     }
     
     .icon span{
         font-size: 1rem;
         font-family: var(--font);
         font-weight: 600;
     }
     .toogle{
         display: flex;
         align-items: center;
         gap: 5px;
         cursor: pointer
     }
   
   }